---
import { type CollectionEntry, getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';
import FormattedDate from '../../components/FormattedDate.astro'
import PostComments from '../../components/PostComments.astro'

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---
<MainLayout title={post.data.title} description={post.data.description} >
	<div class="leading-7 px-5">
		<article
			id="article"
			role="article"
			class="prose mt-8 prose-pre:border-[1px] prose-pre:border-skin-line prose-pre:border-solid"
		>
			<div class="flex flex-col gap-2 mb-4">
				<h1 class="mx-0">{post.data.title}</h1>
				<FormattedDate date={post.data.pubDate} showYear />
				{
					post.data.updatedDate && (
						<div class="last-updated-on">
							Last updated on <FormattedDate date={post.data.updatedDate} />
						</div>
					)
				}
				<hr />
			</div>
			<div class="blog-content">
				<Content />
			</div>
		</article>
		<PostComments />
	</div>
</MainLayout>
