---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PostComments from '../components/PostComments.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { AstroFont } from 'astro-font';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<AstroFont
			config={[
				{
					name: "Favorit",
					src: [
						{
							style: 'normal',
							weight: '400',
							path: './public/fonts/ABCFavorit-Regular.woff'
						},
					],
					preload: true,
					display: "swap",
					selector: "h1",
					fallback: "serif",
				},
				{
					name: "ArialGrotesk",
					src: [
						{
							style: 'normal',
							weight: '400',
							path: './public/fonts/ArialGrotesk-Regular.woff'
						},
					],
					preload: true,
					display: "swap",
					selector: "body",
					fallback: "sans-serif",
				},
			]}
		/>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main id="main-content">
			<article
				id="article"
				role="article"
				class="prose mx-auto mt-8 max-w-3xl prose-pre:border-[1px] prose-pre:border-skin-line prose-pre:border-solid"
			>
			<div class="flex flex-col gap-2 mb-4">
				<div class="date">
					<FormattedDate date={pubDate} />
					{
						updatedDate && (
							<div class="last-updated-on">
								Last updated on <FormattedDate date={updatedDate} />
							</div>
						)
					}
				</div>
				<h1>{title}</h1>
				<hr />
			</div>
				<slot />
			</article>
			<PostComments />
		</main>
		<Footer />
	</body>
</html>
